# Variables de entorno para desarrollo
SECRET_KEY=cambia_esta_clave_en_produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173
# Seguridad en producción
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
CORS_ALLOW_CREDENTIALS=True
